{
  "root": true,
  "parserOptions": {
    "parser": "babel-eslint",
    "sourceType": "module"
  },
  "extends": [
    "@dreipol/eslint-config",
    "@dreipol/eslint-config-vue"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "camelcase": [
      "error",
      {
        "properties": "never"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "*.spec.js"
      ],
      "rules": {
        "no-unused-expressions": "off",
        "max-nested-callbacks": "off"
      }
    }
  ]
}
